#top{
	background-color: white;
	padding:30px;
	padding-left: 60px;
}

#osoba{
    display: inline-block;
    background-color: #C0C0C0;
    margin: 15px;
    width: 16.3%;
    height: 15vh;
    padding: 15px;
}

#korisnickoIme a{
	text-decoration: none;
	font-weight: bold;
	color: white;
}

#foloveri{
	margin: 5px 0;
}

#zafoluj{
    padding: 5px;
    margin: 5px;
}

#logo {
	width: 200px;
	height: 50px;
}

.recommended{
	width: 90%;
	margin: auto;
	/*word-wrap: break-word;*/
	background-color: white;
}

#videoHome{
	width: 15vw;
	position: relative;
	height: 15vw;
	background-color: white;
	display: inline-block;
	margin: 1vw;
	vertical-align: top;
}

#videoHome a{
	text-decoration: none;
	color: black;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    line-height: 1em; 
    max-height: 1em*2;
}

.thumbnailWrapper{
	width: 100%;
	padding-top: 56.20%;
	position: relative;
}

#thumbnail{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#naslov{
	position: static;
	font-weight:bold;
	margin-top: 10px;
}

#user{
	position: static;
	display: block;
}

#views{
	margin-top: 10px;
	position: absolute;
}

#date{
	margin-top: 10px;
	position: absolute;
	right: 0;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}





