* {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	     -o-box-sizing: border-box;
	box-sizing: border-box;
}

header{
	width: 100%;
	height: 45px;
	margin: 0 auto;
	background-color: white;
	text-align: center;
	box-shadow: 0px 4px 12px -6px rgba(0,0,0,0.65);
}

body{

}

#slika{
	height: 100%;
	width: 100%;
	background-image: url("../images/clouds.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	background-size: cover;
}

nav{
	width: 80%;
	display: none;
	margin: 0 auto;
	text-align: center;
}

nav ul{
	list-style: none;
}

nav ul li{
	display: inline-block;
	margin: 5px;
}

nav ul li a{
	text-decoration: none;
	color: black;
	margin: 0 20px;
}

footer{
	width: 80%;
	margin: 0 auto;
	background-color: #ccffff;
	padding: 5px;
	padding-left: 30px;
}

#logo{
	height: 45px;
	font-size: 2em;
	text-decoration: none;
	display: inline-block;
	float: left;
	margin: 5px 0 5px 35px;
}

#search{
	display: inline-block;
	float: left;
}

#header{
	padding: 0 15px 0 15px;
	width: 80%;
	margin: 0 auto;
}

#menubtn{
	font-size: 2.75em;
	float: left;
	color: black;
}

#sign{
	float: right;
	margin: 12px;
	font-size: 1em;
}
#sign a{
	text-decoration: none;
	color: black;
}

#profilbtn{
	float: right;
	height: 30px;
	margin: 10px;
	margin-left: 20px;
	display: none;
}

.searchbar #searchbtn{
	float: right;
	font-size: 2em;
	margin: auto;
	width: 35px;
	color: white;
}

.searchbar{
	height: 35px;
	/*width: 35px;*/
	width: 400px;
	float: right;
	display: inline-block;
	background-color: #bee5f4;
	border-radius: 50px;
	margin: 5px 20px;
}

.srchinput{
	margin: 3px;
	height: 28px;
	width: 80%;
	background-color: #bee5f4;
	border: none;
}

.zalogin{
	width: 200px;
	height: 100px;
	background-color: #ADD8E6;
	border-radius: 15px;
	position: absolute;
	padding: 10px;
	top: -10px;
	right: 15px;
	z-index: 10;
}

.container{
	padding: 15px;
	position: relative;
	background-color: rgba(255, 255, 255, .6);
	width: 80%;
	margin: 0 auto;
}


@media screen and (max-width: 1000px){
	div{
		width: 100%;
	}
}